:root {
    --main-bg-color: #E6563B;
}
:root {
    --main-bg-color: #EB9D3A;
}
:root {
    --main-bg-color: #7CB06C;
}
:root {
    --main-bg-color: #00ABA9;
}
:root {
    --main-bg-color: #F0F0F0;
}
:root {
    --main-bg-color: #E6E6E6;
}